// ==============================================================
// _header.scss *****
// ==============================================================

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 50px 1.428571429% 0;
  font-weight: bold;
  color: $white;
  font-family: $font-family-sans;

  @media (max-width: 900px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.cabecera a {
  color: $white;
}

.logo a {
  border: solid 4px $white;
  padding: 10px 22px;
  font-size: $font-size-large;
  box-shadow: 10px 10px 0 0 $white;
  transition: 0.5s;
  font-weight: bold;
}

.logo a:hover {
  box-shadow: 0 0 0 0 $color-primary;
  transition: 0.5s;
  color: $color-primary;
  border-color: $color-primary;
}

.navegacion {
  font-family: $font-family-sans;
  font-weight: normal;

  @media (max-width: 650px) {
    margin-top: 20px;
  }
}

.navegacion a {
  font-size: 2.2rem;
}

.navegacion a:hover {
  color: $color-primary;
}
