// ==============================================================
//   _wrapper.scss
// ==============================================================
.wrapper {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
  padding-bottom: 150px;

  @media (max-width: 650px) {
    padding-bottom: 50px;
  }
}
