// ==============================================================
// _home.scss *****
// ==============================================================

body {
  background: linear-gradient(to bottom, 	#9DE7D7, #89ABE3) no-repeat;
  min-height: 100vh;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;

  @media (max-width: 650px) {
    padding-top: 60px;
  }
}

.portfolio__proyecto {
  width: 33.3333333%;
  padding: 1.428571429%;
  //margin-bottom: 2%;
  margin-bottom: 30px;

  @media (max-width: 900px) {
    width: 47%;
    padding: 2%;
    //margin-bottom: 3%;
    margin-bottom: 35px;
  }

  @media (max-width: 600px) {
    margin-bottom: 10px;
  }

  @media (max-width: 450px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.portfolio__thumb {
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  vertical-align: top;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.thumb-wrapper {
  background: lighten($color-primary, 10%);
  display: block;
}

.portfolio__thumb:hover {
  mix-blend-mode: screen;
  transition: 0.5s;
}
