// ==============================================================
// _info.scss *****
// ==============================================================

.info {
  padding-top: 50px;
  font-size: $font-size-regular;

  @media(max-width: 650px) {
    padding-top: 0;
  }
}

.info__encabezado {
  font-size: $font-size-x-large;
  text-align: center;

  @media (max-width: 650px) {
    font-size: $font-size-large;
  }
}

.info__encabezado--acerca-de {
  @media (max-width: 650px) {
  position: relative;
  margin-top: 100px;
  }
}

.info__encabezado--acerca-de::before {
  @media (max-width: 650px) {
    position: absolute;
    content: '';
    @extend .separador;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.separador {
  border: none;
  height: 2px;
  background-color: white;
  width: 40%;
  margin: 50px auto;
}

.separador--small {
  height: 10px;
  width: 10px;
  background: white;
  border: none;
  transform: rotate(45deg);
}

.habilidades__lista {
  width: 40%;
  margin: 0 auto;
  @media (max-width: 650px) {
    font-size: $font-size-small;
  }
  @media (max-width: 450px) {
    width: 100%;
  }
}

.habilidad {
  margin-top: 35px;
}

.habilidad__lista {
  margin-top: 15px;
}

.habilidad__lista > li {
  margin-bottom: 15px;
}

.contacto__rrss,
.contacto__email {
  font-size: $font-size-large;
  text-align: center;

  @media (max-width: 650px) {
    font-size: $font-size-regular;
  }
}

.info__github {
  text-align: center;

  @media (max-width: 650px) {
    font-size: $font-size-small;
  }
}
