// ==============================================================
// _variables.scss *****
// ==============================================================

// COLORS
// ==============================================================

$blue: #0000ff;
$white: #fbfcf7;
$black: #000;
$lila: #4a0160;

// Main color palette
$color-primary: $lila;

// Background
$color-background: $white;

// Text
$color-text: $white;

// Links
$color-link: $color-primary;
$color-link-hover: $black;

// TYPOGRAPHY
// ==============================================================

// Sizes
$font-size-x-small: 1.6rem;
$font-size-small: 1.8rem;
$font-size-regular: 2.2rem;
$font-size-large: 2.5rem;
$font-size-x-large: 3.6rem;
$font-size-xx-large: 4.2rem;
$font-size-xxx-large: 4.8rem;

// Families
$font-family-serif: 'Lora', Georgia, serif;
$font-family-sans: 'Open Sans', Helvetica, Arial, serif;
